<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contact</title>
</head>
<body>
<span th:if="${contact}">
      <h1>Contact found successfully:</h1>
      Contact name:
      <p th:text="${contact.name} ?: ''"></p>
      Birth date:
      <p th:text="${contact.dataNascimenct}"></p>
      Email:
      <p th:text="${contact.email}"></p>
      Address:
      <p th:text="${contact.endereco}"></p>
    </span>
<span th:unless="${contact}">
      <h1>Unfortunately the contact was not found try again</h1>
      <a href="./searchContactForm">Try again</a>
    </span>
<br />
<a href="/"> Go to home </a>
<a th:href="@{'/deleteContactId?id=' + ${contact.getIdContact()}}">delete contact</a>

<a th:href="@{'/updateContactId?id=' + ${contact.getIdContact()}}">Update contact</a>
</body>
</html>