<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
<h1>Welcome to the contact book system</h1>

<a href="./contactForm">register a contact</a><br>
<a href="./searchForContact">Find a contact by id, update or delete</a><br>
<a href="./ListContacts">list contacts</a><br>
<a href="./searchForName">Find a contact by name</a>
</body>
</html>
